.CarDetail {
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
}

.imgHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.containerHeader {
    padding-left: 10%;
    padding-right: 10%;
}

label {
    text-align: left;
}

section {
    height: 120vh;
    padding: 3em;
    color: #000000;
    margin-left: 10%;
    margin-right: 10%;
}

section:nth-of-type(1) {
    background: rgba(235, 219, 219, 0.1);
}

section:nth-of-type(2) {
    background: green;
}

section:nth-of-type(3) {
    background: blue;
}

.link-area {
    width: 100%;
    display: flex;
    justify-content: right;
}

.link-area a {
    display: inline-block;
    /* margin: 2em 0; */
    padding: 0 2em;
    color: #9d8457;
}

@media all and (max-width: 576px) {
    .link-area a {
        display: none;
    }
    section {
        height: 46vh;
        padding: 0em;
        color: #000000;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    section {
        height: 70vh;
        padding: 3em;
        color: #000000;
        margin-left: 0%;
        margin-right: 0%;
    }
}